<!-- Meta Tag Overrides -->
<meta name="description" content="Hypixel News is a project that sends you the latest news from the Hypixel Network. When new posts are made by the admins on the forums, you can choose which ones you want to receive as a neat message in a selected Discord channel." />
<meta name="theme-color" content="#DCAF4E">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:description" content="Hypixel News is a project that sends you the latest news from the Hypixel Network. When new posts are made by the admins on the forums, you can choose which ones you want to receive as a neat message in a selected Discord channel.">
<meta property="og:image" content="/assets/hypixel-news-icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:description" content="Hypixel News is a project that sends you the latest news from the Hypixel Network. When new posts are made by the admins on the forums, you can choose which ones you want to receive as a neat message in a selected Discord channel.">
<meta property="twitter:image" content="/assets/hypixel-news-icon.png">

<!-- Style Overrides -->
<link href="/static/color.css" rel="stylesheet"/>
<link href="/static/discord.css" rel="stylesheet"/>